@{
    ViewData["Title"] = "Home Page";
}

@model List<PosterModel>

<h1>Posters</h1>
<section class="poster-grid">
    @{
        foreach (var poster in Model){
            <article class="poster-preview">
                <a asp-area="" asp-controller="Poster" asp-action="Index" asp-route-id="@poster.ID"><img src="https://picsum.photos/200/300?&random=1"></a>
                <a asp-area="" asp-controller="Poster" asp-action="Index" asp-route-id="@poster.ID"><p class="name">@poster.Title</p></a>
                <a asp-area="" asp-controller="Poster" asp-action="Index" asp-route-id="@poster.ID"><p class="time">@poster.Date</p></a>
            </article>
        }
    }
    <article class="poster-preview">
        <a asp-area="" asp-controller="Poster" asp-action="Index"><img src="https://picsum.photos/200/300?&random=1"></a>
        <a asp-area="" asp-controller="Poster" asp-action="Index"><p class="name">Poster 1</p></a>
        <a asp-area="" asp-controller="Poster" asp-action="Index"><p class="time">07.04.2025</p></a>
    </article>
    <article class="poster-preview">
        <a asp-area="" asp-controller="Poster" asp-action="Index"><img src="https://picsum.photos/200/300?&random=2"></a>
        <a asp-area="" asp-controller="Poster" asp-action="Index"><p class="name">Poster 2</p></a>
        <a asp-area="" asp-controller="Poster" asp-action="Index"><p class="time">06.04.2025</p></a>
    </article>
    <article class="poster-preview">
        <a asp-area="" asp-controller="Poster" asp-action="Index"><img src="https://picsum.photos/200/300?&random=3"></a>
        <a asp-area="" asp-controller="Poster" asp-action="Index"><p class="name">Poster 2</p></a>
        <a asp-area="" asp-controller="Poster" asp-action="Index"><p class="time">06.04.2025</p></a>
    </article>
    <article class="poster-preview">
        <a asp-area="" asp-controller="Poster" asp-action="Index"><img src="https://picsum.photos/200/300?&random=4"></a>
        <a asp-area="" asp-controller="Poster" asp-action="Index"><p class="name">Poster 2</p></a>
        <a asp-area="" asp-controller="Poster" asp-action="Index"><p class="time">06.04.2025</p></a>
    </article>
    <article class="poster-preview">
        <a asp-area="" asp-controller="Poster" asp-action="Index"><img src="https://picsum.photos/200/300?&random=5"></a>
        <a asp-area="" asp-controller="Poster" asp-action="Index"><p class="name">Poster 2</p></a>
        <a asp-area="" asp-controller="Poster" asp-action="Index"><p class="time">06.04.2025</p></a>
    </article>
    <article class="poster-preview">
        <a asp-area="" asp-controller="Poster" asp-action="Index"><img src="https://picsum.photos/200/300?&random=6"></a>
        <a asp-area="" asp-controller="Poster" asp-action="Index"><p class="name">Poster 2</p></a>
        <a asp-area="" asp-controller="Poster" asp-action="Index"><p class="time">06.04.2025</p></a>
    </article>
</section>