@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Editor";
}

@model PosterModel

<form asp-action="@ViewData["FormAction"]" asp-controller="Poster">
<input type="hidden" value=@Model.ID asp-for="ID">
<input type="hidden" value=@Model.CreateDate asp-for="CreateDate">
<input type="hidden" value=@Model.EditDate asp-for="EditDate">
<input type="hidden" value=@Model.Author asp-for="Author">
<div>
    <label>Main Headline</label>
    <input type="text" value="@Model.Title" asp-for="Title">
</div>
<article>
    <div>
        <label>Article Headline</label>
        <input type="text" value="@Model.Sub1" asp-for="Sub1">
    </div>
    <div>
        <label>Article Content</label>
        <textarea asp-for="Text1">@Model.Text1</textarea>
    </div>
    <div>
        <label>Image (Hyperlink)</label>
        <input type="url" value="@Model.ImageUrl1" asp-for="ImageUrl1">
    </div>
</article>
<article>
    <div>
        <label>Article Headline</label>
        <input type="text" value="@Model.Sub2" asp-for="Sub2">
    </div>
    <div>
        <label>Article Content</label>
        <textarea asp-for="Text2">@Model.Text2</textarea>
    </div>
    <div>
        <label>Image (Hyperlink)</label>
        <input type="url" value="@Model.ImageUrl2" asp-for="ImageUrl2">
    </div>
</article>
<article>
    <div>
        <label>Article Headline</label>
        <input type="text" value="@Model.Sub3" asp-for="Sub3">
    </div>
    <div>
        <label>Article Content</label>
        <textarea asp-for="Text3">@Model.Text3</textarea>
    </div>
    <div>
        <label>Image (Hyperlink)</label>
        <input type="url" value="@Model.ImageUrl3" asp-for="ImageUrl3">
    </div>
</article>
<div>
    <div class="buttons">
        <input type="submit" class="button">
        <button type="button" class="img-mgr-btn" onclick="openImageManager()">Image Manager</button>
        @{
            var formAction = ViewData["FormAction"] as string;
            if (formAction == "EditPoster"){
                <a class="button delete" asp-area="" asp-controller="Poster" asp-action="DeletePoster" asp-route-id=@Model.ID>Delete</a>
            }
        }
    </div>
</div>
</form>

<!-- Modal for Image Manager -->
<div id="imageManagerModal" class="custom-modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close-btn" onclick="closeImageManager()">&times;</span>
        </div>
        <iframe id="imageManagerFrame" src="" frameborder="0" class="iframe-content"></iframe>
    </div>
</div>


@section Scripts {
    <script>
        function openImageManager() {
            // Save the input field we want to update
            document.getElementById('imageManagerFrame').src = '/Home/ViewImages'; // or your manager URL
            document.getElementById('imageManagerModal').style.display = 'block';
        }

        function closeImageManager() {
            document.getElementById('imageManagerModal').style.display = 'none';
        }
    </script>
}
