@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model PosterModel

<h1>@Model.Title</h1>
<section class="poster">
    <article>
        <h1>@Model.Sub1</h1>
        <p>@Model.Text1</p>
        <img src="@Model.ImageUrl1">
    </article>
    <article>
        <h1>@Model.Sub2</h1>
        <p>@Model.Text2</p>
        <img src="@Model.ImageUrl2">
    </article>
    <article>
        <h1>@Model.Sub3</h1>
        <p>@Model.Text3</p>
        <img src="@Model.ImageUrl3">
    </article>
    <div class="poster-bot">
        <div>
            <input type="button" value="Print" class="button" onclick="window.print();">
            <input type="button" value="Export" class="button" onclick="window.location.href='/Poster/ExportPoster?id=@Model.ID'">
        </div>
        <a class="button" asp-area="" asp-controller="Poster" asp-action="Edit" asp-route-id=@Model.ID>Edit</a>
    </div>
</section>